<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="content">
        <div class="title">
            <h3>Shifts</h3>
            <div class="shift-table">
                <nav class="horizontal-nav-bar">
                    <button onclick="document.getElementById('add-dialog').showModal()"> Add shift</button>
                    <dialog id="add-dialog">
                        <form method="post" action="/admin/add">
                            <label>Start date: <input type="date" name="start_date" required></label>
                            <label>Start time: <input type="time" name="start_time" required></label>
                            <label>End date: <input type="date" name="end_date" required></label>
                            <label>End time: <input type="time" name="end_time" required></label>
                            <button type="submit">Add</button>
                            <button type="button" onclick="document.getElementById('add-dialog').close()">
                                Close
                            </button>
                        </form>
                    </dialog>
                </nav>
                <table>
                    {% for t in data %}
                        <div class="row-table">
                            Da {{t.start}} a {{t.end}}<br>
                            <button class="modify" type="button"> Modify </button>
                            <form method="post" action="/admin/delete">
                                <input type="hidden" name="id" value="{{t.id}}">
                                <button class="delete" type="submit"> Delete </button>
                            </form>
                        </div>
                     {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <h1></h1>
</body>
</html>